<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="43910921-18ba-4a10-963b-983028da9387" Publisher="CN=TeamHDEJ" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Spikes</DisplayName>
    <PublisherDisplayName>TeamHDEJ</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Spikes.App">
      <VisualElements DisplayName="Spikes" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Spikes" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Fat Cat Comics" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="cbr">
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.cbr</FileType>
              <FileType>.cbz</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="removableStorage" />
    <Capability Name="picturesLibrary" />
    <Capability Name="documentsLibrary" />
  </Capabilities>
</Package>